.contact-background {
  color: #1b1c1d;
}

.contact-header {
  font-size: 3rem;
  margin-top: 25px;
  margin-bottom: 2rem;
}

.contact-description {
  font-size: 1.5rem;
}

.contact-phone-number {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.contact-email-address {
  font-size: 1.5rem;
}

.contact-icon {
  margin-right: 1rem;
  color: white;
}

.contact-link {
  color: hotpink;
}
